
.text-custom{
    font-weight: bold;
    font-size: 22px;
    color: #3E3E3E;
}
.slider{
    border-style: none;
    vertical-align: middle;
    height: 520px;
}
.slider-header{
    font-size: 48px;
    color: white;
    font-weight: 700;
    text-align: center;
}
.price{
    font-size: 36px;
    font-weight: 700;
    color: #231D4F;
}
.title{
    font-size: 28px;
    font-weight: 700;
    color: #231D4F;
}
.ptext{
    color: #848199;
    font-size: 15px;
}
.slider-text{
    text-align: center;
    color: yellow;
    font-size: 20px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link-btn{
    text-decoration: none;
    background-color: white;
    color: #3F87F5;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
}
.card-btn{
    text-decoration: none;
    background-color: #F496D1;;
    color: #3F87F5;
    font-weight: 700;
    padding: 13px 60px;
    border-radius: 24px;
    font-size: 20px;
    border: none;
}
.card-common{
    width: 232px;
    height: 387px;
    border: none;
}

.card-wedding-plus{
    width: 292px;
    height: 480px;
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    color: white;
}
.ct-color{
    color: white;
}

.footer-area{
    width: 100%;
    background-color: #0B0D17;
    color: #D9DBE1;
}
.footer-icon{
    width: 70%;
    cursor: pointer;
    margin-top: 10px;
    border: white;
    border-radius: 10px;
}
.img-size {
    height: 300px;
    width: 400px;
}
.card-align{
    display: flex;
    align-items: flex-end;
}
.footer{
    padding: .5rem 1rem;
    
}
.card-btn-hot{
    background-color: white;
    color: #3F87F5;
    font-size: 15px;
    font-weight: 700;
}
.card-hot{
    background-color: #FF4E4E;
    color: white;
    font-size: 14px;
    width: 40px;
    border-radius: 14px;
    padding: 4px;
    text-align: center;
    position: absolute;
    top: -10px;
    right: 0;
    left: 80%;
}